<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="TestTaskKost_WCF.Properties.Settings.TestDB_WCFConnectionString"
      connectionString="Data Source=DESKTOP-RGD168B\SQLEXPRESS;Initial Catalog=TestDB_WCF;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="TestTaskKost_WCF.Feed1">
        <endpoint address="Feed1" behaviorConfiguration="TestTaskKost_WCF.Feed1Behavior"
          binding="webHttpBinding" contract="TestTaskKost_WCF.IFeed1" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/TestTaskKost_WCF/" />
          </baseAddresses>
        </host>
      </service>
      <service name="TestTaskKost_WCF.DataBase_Kosta">
        <endpoint address="" binding="basicHttpBinding" contract="TestTaskKost_WCF.IDataBase_Kosta">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/TestTaskKost_WCF/DataBase_Kosta/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="TestTaskKost_WCF.Feed1Behavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
