<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="TestTaskKost_WCF.DataBase_Kosta" behaviorConfiguration="mexBehavior">
        <endpoint address="TestTaskKost_WCF.DataBase_Kosta" binding="basicHttpBinding" contract="TestTaskKost_WCF.IDataBase_Kosta"></endpoint>
        <endpoint address="TestTaskKost_WCF.DataBase_Kosta" binding="netTcpBinding" contract="TestTaskKost_WCF.IDataBase_Kosta"></endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/"/>
            <add baseAddress="net.tcp://localhost:45617/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>